main {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 1.2em;
  margin-block: 4px;
}
hr {
  width: 90%;
  margin-block: 4px;
  border-color: hotpink;
}
.button {
  width: 140px;
  height: 45px;
  border-radius: 9999px;
  border-style: none;
  font-size: 2.2em;
  /* background-color: #ee5365; */
  background-color: rgb(255, 154, 154);
  margin-block: 4px;
}
.button:hover {
  background-color: rgb(248, 101, 101);
  /* background-color: #f1394e; */
}
#test {
  width: 150px;
  word-break: break-all;
}
#timer {
  font-size: 3.3em;
  margin-block: 4px;
  user-select: none;
}
ul {
  padding-inline-start: 10px;
}
.comment {
  font-size: 1.2em;
  margin-block: 4px;
  margin-inline: 10px;
}
.head {
  height: 25px;
  width: 100%;
}
.icon {
  display: block;
  margin-left: auto;
  height: 25px;
  width: 25px;
}
