main {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
}
.title {
  font-size: 1.2em;
  margin-block: 4px;
}
hr {
  width: 90%;
  margin-block: 4px;
  border-color: hotpink;
}
.button {
  width: 160px;
  height: 45px;
  border-radius: 9999px;
  border-style: none;
  font-size: 2.2em;
  color: #232323;
  /* background-color: #ee5365; */
  background-color: rgb(255, 154, 154);
  margin-block: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  user-select: none;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.button span {
  /* display: inline-block; */
  /* height: 43px; */
  line-height: 0px;
  /* display: inline-flex; */
  /* align-items: center; */
}
.button:hover {
  background-color: rgb(248, 101, 101);
  /* background-color: #f1394e; */
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.15),
    0 8px 10px -6px rgb(0 0 0 / 0.15);
}
#test {
  width: 150px;
  word-break: break-all;
}
#timer {
  font-size: 3.3em;
  margin-block: 4px;
  user-select: none;
  color: #454545;
}
ul {
  padding-inline-start: 10px;
}
.comment {
  font-size: 1.2em;
  margin-block: 4px;
  margin-inline: 10px;
}
.head {
  height: 25px;
  width: 100%;
}
.icon {
  display: block;
  margin-left: auto;
  height: 25px;
  width: 25px;
}
